$cordeFundo: #fff;
$corTextoPrincipal: #222;
$corTexto_PrincipalHeader: #303030;
$corTexto_PrincipalFooter: #333;
$corTexto_PrincipalSections: #000;
$corTextoSecundario: #fff;
$corTextoBotaoPrimario: #1D1E1F;
$corFundoBotao: #fff;
$corHoverLinks: #1786eb;
$corBotaoSecundario: #f1f1f1;
$corHoverBotaoSecundario: #ddd;
$corTextoMenu: #252525;